In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randint(0, 6, (10, 6)))

In [3]:
df

   0  1  2  3  4  5
0  2  5  3  0  2  4
1  5  5  2  2  5  2
2  4  2  5  4  3  5
3  3  5  1  1  0  3
4  0  2  0  4  4  2
5  3  3  4  5  2  4
6  2  2  3  4  1  0
7  2  2  2  2  1  2
8  2  5  5  2  5  4
9  3  1  3  3  3  5

In [4]:
r = df.copy()

In [5]:
# 用每行的前6个数据，预测后面的数据
L = []
for i in ["ym"+str(i) for i in range(1,7)]:
    # 计算第一次的均值
    x = df.mean(axis=1)
    # 保存到列表里
    L.append(x)
    # df.shift(-1, axis=1)把数据整体先向左边移动一位，导致第一列删除，最后一列为空。
    # .dropna(axis=1)是把为空的列删除，其实就是把最后一列删除，
    df = df.shift(-1, axis=1).dropna(axis=1)
    # 把新的数据添加到最后一列，就和原来的数据列数一样多， 相当于把新得到的结果添加到最后， 同时删除最前的那一列
    df[i] = x
    # 开始循环的做预测

In [6]:
pd.concat(L, axis=1)

          0         1         2         3         4         5
0  2.666667  2.777778  2.407407  2.308642  2.693416  2.808985
1  3.500000  3.250000  2.958333  3.118056  3.304398  3.021798
2  3.833333  3.805556  4.106481  3.957562  3.950489  4.108903
3  2.166667  2.027778  1.532407  1.621142  1.724666  2.012110
4  2.000000  2.333333  2.388889  2.787037  2.584877  2.349023
5  3.500000  3.583333  3.680556  3.627315  3.398534  3.631623
6  2.000000  2.000000  2.000000  1.833333  1.472222  1.550926
7  1.833333  1.805556  1.773148  1.735340  1.691229  1.806434
8  3.833333  4.138889  3.995370  3.827932  4.132587  3.988019
9  3.000000  3.000000  3.333333  3.388889  3.453704  3.529321